################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bindings/CSharp/.vs/QIFdotNET/FileContentIndex
